.gradle/

build/

.vscode/

.idea/
*.iml
*.ipr
*.iws

.project
.classpath
.settings/

/bin/
/out/

/run/

*.class

*.jar

*.log
logs/

/tmp/
*.tmp

.DS_Store

Thumbs.db

user_jvm_args.txt
pack.py
project_snapshot.txt

gradle.properties